.bookmark-wrap{
  padding-top: 80px;
  background-color: #f3f0eb !important;
  .content-wrap{
    overflow: hidden;
  }
}
.bookmark-header{
  margin-left: 15px;
  h2{
    font-style: oblique;
    color: #808080;
    text-align: center;
  }
}